<!DOCTYPE html>
<html ng-app="crmStandaloneApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system-Standalone App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/ng-prettyjson.css">
  </head>
  <body>
    <div ng-controller="standaloneController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Standalone</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Main <span class="sr-only">(current)</span></a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <h3 style="text-align:center">CRM system-Standalone App</h3>
			<label>Method: <select ng-model="method_select" ng-change="methodChange(method_select)" ng-options="method.name for method in methods"></select></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>REST API: <input type="text" ng-model="API_link" placeholder="REST API" /></label>		
			<input type="button" ng-click="APITest(method_select, model_name, models, API_link)" value="Send"><br /><br />
      <label>Model: <select ng-model="model_name" ng-change="modelChange(method_select, model_name)" ng-options="choice.name for choice in choices"></select></label><br /><br />
      <div ng-repeat="model in models">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Input data: {{model.attr}}<input type="{{ model.type }}" ng-model="model.data" placeholder="{{ model.attr }}" ></label>                        
      </div>
      {{ requests.data }}
      {{ headers }}
			<pre class='json' json='result' pretty-json />
    </div>
  <script src="/js/jquery-1.11.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/ng-prettyjson.js"></script>
  <script src="/js/standalone.js"></script>
  </body>
</html>
